.page-break-line-div {
    position: absolute;
    z-index: 2;
    bottom: -5px;
    left: 0px;
    width: 100%;
  }

.blue-line {
  fill: #a9c0bb;
}

.yellow-line {
  fill: #f8ce8a;
}

@media screen and (min-width: 1150px) {
  .page-break-line-div {
    position: absolute;
    z-index: 2;
    bottom: -5px;
    left: 0px;
  }
}
