.pun-button-div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.pun-button {
  @include large-buttons($transparent, black);
  margin-left: 10px;
}

.pun-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  background-color: $coral;
  z-index: 5;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  button {
    padding: 5px 10px;
    margin-bottom: 10px;
    font-family: $regular-text;
    border: 1px solid black;
    background-color: $pink;
    position: relative;
    z-index: 2;
  }
}

.pun-setup {
  padding: 10px;
}
.pun-punchline {
  padding: 10px;
}

@media screen and (min-width: 1150px) {
  .pun-container {
    width: 350px;
    text-align: center;
  }

  .pun-button-div {
    grid-area: 3 / 2 / 4 / 3;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin: 20px 0px 0px 0px;
  }
}
