* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $regular-text;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: $headings;
}

.background-frame {
  position: relative;
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

.center-text {
  text-align: center;
}

.highlight1 {
  color: $coral;
  font-size: 3rem;
  text-shadow: 2px 2px #181717;
}

.highlight2 {
  color: $greenblue;
  font-size: 3rem;
  text-shadow: 2px 2px #181717;
}

.highlight3 {
  color: black;
  font-size: 3rem;
}
.highlight4 {
  color: $yellow;
  font-size: 3rem;
  text-shadow: 2px 2px #181717;
}

@media screen and (min-width: 1150px) {
  .highlight1 {
    color: $coral;
    font-size: 3.3rem;
    text-shadow: 2px 2px #181717;
  }

  .highlight2 {
    color: $greenblue;
    font-size: 3.3rem;
    text-shadow: 2px 2px #181717;
  }

  .highlight3 {
    color: black;
    font-size: 3.3rem;
  }

  .highlight4 {
    color: $yellow;
    font-size: 3.3rem;
    text-shadow: 2px 2px #181717;
  }
}
