$headings: "Glass Antiqua", cursive;
$regular-text: "Raleway", sans-serif;
$yellow: #f6bd60;
$yellow-transparent: #f6bd60bb;
$linnen: #f7ede2;
$pink: #f5cac3;
$greenblue: #84a59d;
$greenblue-transparent: #84a59db2;
$coral: #f28482;
$transparent: #84a59d00;
